
*.ibd
*.frm
*.class
*.class
back/hackazillians/docker/mysql-data/ib_logfile1
*.pem
*.cnf
*.opt
*.TRG
*.TRN
*.MYI
*.MYD
*.CSV
*.CSM
*.sock
back/hackazillians/docker/mysql-data/ib_buffer_pool
back/hackazillians/docker/mysql-data/ibtmp1
back/hackazillians/docker/mysql-data/ibdata1
back/hackazillians/docker/mysql-data/ib_logfile0
**/target/**
!**/src/**
*.class
*.class
*.class
*.class
*.class
*.class
*.class
back/hackazillians/target/test-classes/digital/osf/hackazillians/HackatonApplicationTests.class
*.class
*.class
*.class
back/hackazillians/target/classes/digital/osf/hackazillians/entities/Goal.class
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/misc.xml
.idea/encodings.xml
.idea/workspace.xml
hackazillians.iml
